p {
  font-size: 20px;
}

.skillcontainer {
  background-color: rgb(192, 192, 192);
  width: 80%;
  border-radius: 15px;
}

.skill {
  background-color: #3b6ac4;
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
}

.c {
  width: 80%;
}

.python {
  width: 75%;
}
.java {
  width: 85%;
}
.arduino {
  width: 88%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.9;
}

.fa-facebook {
  background: #3b6ac4;
  color: black;
}

.fa-twitter {
  background: #3b6ac4;
  color: black;
}

.fa-google {
  background: #dd4b39;
  color: black;
}

.fa-linkedin {
  background: #007bb5;
  color: black;
}

.fa-youtube {
  background: #bb0000;
  color: black;
}

.fa-instagram {
  background: #125688;
  color: black;
}

.fa-pinterest {
  background: #cb2027;
  color: black;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: black;
}

.fa-android {
  background: #a4c639;
  color: black;
}

.fa-dribbble {
  background: #ea4c89;
  color: black;
}

.fa-vimeo {
  background: #45bbff;
  color: black;
}

.fa-tumblr {
  background: #2c4762;
  color: black;
}

.fa-vine {
  background: #00b489;
  color: black;
}

.fa-foursquare {
  background: #45bbff;
  color: black;
}

.fa-stumbleupon {
  background: #eb4924;
  color: black;
}

.fa-flickr {
  background: #f40083;
  color: black;
}

.fa-yahoo {
  background: #430297;
  color: black;
}

.fa-soundcloud {
  background: #ff5500;
  color: black;
}

.fa-reddit {
  background: #ff5700;
  color: black;
}

.fa-rss {
  background: #ff6600;
  color: black;
}
